.history-left-column{
    background-color: #fff;
    height: 566px;
}
.list-group-item.active{
    background-color: #1b7ada;
    border-color: #1b7ada;
}
.historyPage .remove{
    position: absolute;
    top: 10px;
    left: 13px;
    color: #2c3131c7;
    cursor: pointer;
}
@media(max-width:767px){
    .card .card-top-image{
        width: 100%;
    }
    .card .card-horizontal time{
        left: 10px;
    }
    .card .card-horizontal .fa-play{
        left: 47%;
    }
}
@media (max-width:991px){
    .card{
        margin-top: 30px;
    }
}